head
  title Lightning EAM
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  link(rel='icon', sizes='16x16 32x32', href='/favicon.ico?v=2')    
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet")
    
  script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js")
        
body
  +layout
