head
  title Lightning EAM
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel='icon', sizes='16x16 32x32', href='/favicon.ico?v=2')    
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')      
body
  +layout
