template(name='viewItemClassificationsPage')
  if customTemplate
    +viewItemClassificationsPageCustom  
  else  
    .container
      .row
        div.viewClassifications        
          // template located in layouts folder
          +viewClassificationsPage type='inventory/item'
          +treeView nodeID=classificationDetails.classificationID nodeText=classificationDetails.text
