template(name='viewItemsPage')
  if customTemplate
    +viewItemsPageCustom  
  else 
    .container2
      br
      fieldset.viewItems
        legend View Items
          a(href='{{pathFor "create-item"}}')
              button.btn-floating.waves-effect.waves-light.tooltipped(type='button', data-delay='50', data-position='bottom', data-tooltip='Create Item')
                i.fa.fa-plus     
        .row
          if Template.subscriptionsReady            
            +reactiveTable collection=rtCollection settings=settings class='table striped'
          else
            +spinner
        +fabBack  
        
template(name='viewItemsDelete')
  h5.red-text Warning this will permanently delete the item!
  | This process cannot be undone.
