template(name='viewItemClassificationPage')
  if customTemplate
    +viewItemClassificationCustom  
  else  
    // template located in layouts folder
    +viewClassificationPage classDoc=viewDoc    
