template(name='inventoryPage')
  if customTemplate
    +inventoryPageCustom  
  else 
    .container
      h1.icon-page Inventory
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.btnViewItems.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-cube
            br
            br
            |  Items
            br
            br
        .col.s12.m6.l3
          a.btnViewItemsClassifications.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Item Classification
            br
            br              
        .col.s12.m6.l3
          a.btnViewEquipment.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-wrench
            br
            br
            |  Equipment
            br
            br
        .col.s12.m6.l3
          a.btnViewEquipmentClassifications.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Equipment Classification
            br
            br 
        .col.s12.m6.l3
          a.btnViewLocations.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-cubes
            br
            br
            |  Inventory Locations
            br
            br
        .col.s12.m6.l3
          a.btnViewLocationClassifications.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Inventory Location Classification
            br
            br            
        .col.s12.m6.l3
          a.btnViewBOM.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-list-ul
            br
            br
            |  Bill of Materials
            br
            br
        .col.s12.m6.l3
          a.btnViewSettings.waves-effect.waves-dark.icon-page
            i.fa-5x.fa.fa-calculator
            br
            br
            |  Settings
            br
            br
