template(name='viewItemClassification')
  if customTemplate
    +viewItemClassificationCustom  
  else  
    .flow-text.container2.viewAssetClassification
      +fabBackCopyEdit
      br
      fieldset
        legend View Asset 
        +autoForm schema=assetClassificationFormSchema id="viewItemClassification" type="readonly" collection="Classification" doc=viewDoc
          if Template.subscriptionsReady
            .row
              h6.teal-text Classification Details 
              .col.s12.m6.l3
                +afQuickField name="id"
              .col.s12.m6.l3
                +afQuickField name="classificationID"
              div
                +afQuickField name="text"
              div
                +afQuickField name="description"
          else
            +spinner
