template(name='smlField')
  .col.s12.m6.l3
    h6.grey-text
      =label
    =item

template(name='lgeField')
  .row
  .row
    h6.grey-text 
      =label
    =item

template(name='frmSection')
  .row   
  .row
    .divider.teal
    .section
      h6.teal-text 
        =label

template(name='rtViewEditDelete')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnView(type='button', data-delay='50', data-position='bottom', data-tooltip='View')
    i.fa.fa-eye
  button.btn-floating.waves-effect.waves-light.tooltipped.btnEdit(type='button', data-delay='50', data-position='bottom', data-tooltip='Edit')
    i.fa.fa-edit 
  button.btn-floating.waves-effect.waves-light.tooltipped.btnDelete.red(type='button', data-delay='50', data-position='bottom', data-tooltip='Delete')
    i.fa.fa-trash 
