template(name='smlField')
  .col.s12.m6.l3
    h6.grey-text
      =label
    =item

template(name='lgeField')
  .row
  .row
    h6.grey-text 
      =label
    =item

template(name='frmSection')
  .row   
  .row
    .divider.teal
    .section
      h6.teal-text 
        =label
