<!--**************************** Layout **************************-->
<template name="layout">
    <div id="wrapper">
      <div id="main">
        {{> Template.dynamic template=header}}
          <div class="flow-text  blue-grey-text text-darken-3">
            {{> Template.dynamic template=content}}
          </div>
      </div>
      {{> Template.dynamic template=footer}}
    </div>
</template>

<!--**************************** Sign In Layout **************************-->
<template name="layout2">
    <div id="wrapper">
      <div id="main">
        {{> Template.dynamic template=header}}
          <div class="container flow-text">
            <br>
            <div class="row">
               <div class="col s12 m6">
                 <div class="card blue-grey lighten-5">
                   <div class="card-content">
                     <span class="card-title">Please Sign In or Register</span>
                     {{> Template.dynamic template=content}}
                   </div>
                 </div>
               </div>
             </div>
             <br>
          </div>
      </div>
      {{> Template.dynamic template=footer}}
    </div>
</template>

<!--**************************** Header Content **************************-->
<template name="header1">
  <!-- Navigation -->
  <div class="navbar-fixed">
    <nav class="teal darken-3">
      <div class="nav-wrapper flow-text">
        <a href="{{pathFor '/'}}" class="brand-logo right">
          {{#if serverConnected}}
            <i class="fa fa-flash light-green-text accent-3 navbar-icon"></i>
          {{else}}
            <i class="fa fa-flash red-text navbar-icon"></i>
          {{/if}}
        </a>
        <ul class="left hide-on-med-and-down" id="header1DesktopUL">
          <li class="waves-effect waves-light"><a href="{{pathFor '/assets'}}">Assets</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/work'}}">Work Mgt</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/pm'}}">Planned Maint</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/resources'}}">Resources</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/inventory'}}">Inventory</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/procurement'}}">Procurement</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/reports'}}">Reports</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/help'}}">Help</a></li>
          <li class="waves-effect waves-light"><a href="{{pathFor '/about'}}">About</a></li>
          {{#if userSignedIn}}
            <li id="btnheader1Logout" class="waves-effect waves-light"><a>Logout</a></li>
          {{else}}
            <li class="waves-effect waves-light"><a href="{{pathFor '/sign-in'}}">Login</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav waves-effect waves-light" id="slide-out">
          <li><a href="{{pathFor '/assets'}}">Assets</a></li>
          <li><a href="{{pathFor '/work'}}">Work Mgt</a></li>
          <li><a href="{{pathFor '/pm'}}">Planned Maint</a></li>
          <li><a href="{{pathFor '/resources'}}">Resources</a></li>
          <li><a href="{{pathFor '/inventory'}}">Inventory</a></li>
          <li><a href="{{pathFor '/procurement'}}">Procurement</a></li>
          <li><a href="{{pathFor '/reports'}}">Reports</a></li>
          <li><a href="{{pathFor '/help'}}">Help</a></li>
          <li><a href="{{pathFor '/about'}}">About</a></li>
          {{#if userSignedIn}}
            <li><a href="{{pathFor '/'}}">Logout</a></li>
          {{else}}
            <li><a href="{{pathFor '/'}}">Login</a></li>
          {{/if}}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>
</template>

<!--**************************** Footer Content **************************-->
<template name="footer1">
  <footer class="page-footer teal darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Lightning EAM Project</h5>
          <p class="grey-text text-lighten-4">Creating the World's fastest Enterprise Asset Management system.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">The Lightning EAM Project</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Asia Pacific Robotics Corporation</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">BackSpace Technology</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">BackSpace Academy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Asia Pacific Robotics Corporation Pty Ltd
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</template>

<!--**************************** Busy Spinner **************************-->
<template name="spinner">
  <br><br>
  <div class="text-center"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>
  <br><br>
</template>
