<template name = "welcomePage">
  <div id="welcome">
    <div class="container-front center-align">
      <br>
      <div class="hide-on-small-only icon-page">
        <i class="fa-5x fa fa-flash"></i>
        <h1>Welcome to The Lightning EAM Project!</h1>
        <h5>Creating the World's fastest Enterprise Asset Management (EAM) system</h5>
        <br>
      </div>
      <div class="row">
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/assets'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-industry"></i><br><br> Assets<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/work'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-wrench"></i><br><br> Work Mgt<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/pm'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-calendar"></i><br><br> Planned Maint<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/resources'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-users"></i><br><br> Resources<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/procurement'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-shopping-cart"></i><br><br> Procurement<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/inventory'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-cubes"></i><br><br> Inventory<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/reports'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-line-chart"></i><br><br> Reports<br><br></a>
        </div>
        <div class="col s6 m4 l3">
          <a href="{{pathFor '/help'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-life-bouy"></i><br><br> Help<br><br></a>
        </div>
      </div>
    </div>
  </div>
</template>
