template(name='deleteCompanyClassificationPage')
  if customTemplate
    +deleteCompanyClassificationCustom  
  else
    // template located in layouts folder
    +deleteClassificationPage doc=textDoc
