template(name='viewCompanyClassificationPage')
  if customTemplate
    +viewCompanyClassificationCustom  
  else  
    // template located in layouts folder
    +viewClassificationPage classDoc=viewDoc    
