template(name='viewPurchasesPage')
  if customTemplate
    +viewPurchasesPageCustom  
  else 
    .flow-text.container2
      br
      fieldset.viewPurchases
        legend Purchase Requisitions
          a(href='{{pathFor "create-purchase"}}')
            +frmBtnNew label='New Purchase Requisition'
        +reactiveTable collection=purchases settings=settings class='table striped'
    +fabBack
