<template name = 'credentialsPage'>
  <div class='flow-text container2'>
    <br>
    {{#if Template.subscriptionsReady}}
    {{#autoForm id='editPeoplePage' collection='Meteor.users'  doc=currentUser type='update'}}
    <fieldset>
    <legend>Edit User Credentials</legend>
    <div class='row z-depth-1'>
      {{> afQuickField name='trades'}}
    </div>
    <div class='row z-depth-1'>
      {{> afQuickField name='professions'}}
    </div>
    <div class='row z-depth-1'>
      {{> afQuickField name='certifications'}}
    </div>
    <div class='form-group'>
      <div class='fixed-action-btn click-to-toggle' style='bottom: 45px; right: 24px;'>
        <a class='btn-floating btn-large purple'>
          <i class='large mdi-navigation-menu'></i>
        </a>
        <ul>
          <li><button type='button' onclick='history.back(-1)' class='btn-floating yellow darken-1'><i class='material-icons'>skip_previous</i></button></li>
          <li><button class='btn-floating red' type='reset'><i class='fa fa-undo'></i></button></li>
          <li><button class='btn-floating green' type='submit'><i class='fa fa-check'></i></button></li>
        </ul>
      </div>
    </div>
  </fieldset>
  {{/autoForm}}
    {{else}}
      {{>spinner}}
   {{/if}}
  </div>
</template>
