template(name='credentialsPage')
  if customTemplate
    +credentialsPageCustom
  else 
    .flow-text.container2.credentials
      .form-group
        +autoForm id='editPeoplePage' collection='Meteor.users' doc=currentUser type='update'
          if Template.subscriptionsReady
            br
            fieldset
              legend Edit User Credentials and Records
              .row
                h6.teal-text Role
                .col.s12.m6.l3
                  +afQuickField name='roles'
              .row
                .divider.teal
                .section
                  .row
                    h6.teal-text Database Access
                    .col.s12.m6.l3
                      +afQuickField name='databases' class='active'
              .row
                .divider.teal
                .section
                  +afxArrayAdd title='Trade Qualifications' field='trades' item='trades' tip='Add Trade Qualification'
              .row
                .divider.teal
                .section
                  +afxArrayAdd title='Academic Qualifications' field='professions' item='professions' tip='Add Academic Qualification'
              .row
                .divider.teal
                .section
                  +afxArrayAdd title='Certifications' field='certifications' item='certifications' tip='Add Certifications'
              +fabBackResetSubmit
        else
          +spinner
