template(name='credentialsPage')
  if customTemplate
    +credentialsPageCustom  
  else 
    .flow-text.container2
<<<<<<< HEAD
      .form-group
        .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.purple
            i.large.mdi-navigation-menu
          ul
            li
              button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                i.material-icons skip_previous
            li
              button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                i.fa.fa-undo
            li
              button.btn-floating.green.tooltipped(type='submit', data-position='left', data-tooltip='Submit Form')
                i.fa.fa-check      
=======
>>>>>>> f29d492fcbbde9cd0cf1b67eda297da492857da3
      br
      if Template.subscriptionsReady
        +autoForm id='editPeoplePage' collection='Meteor.users' doc=currentUser type='update'
          fieldset
            legend Edit User Credentials and Records
            .row
              .col.s12.m6.l3.card
                +afQuickField name='roles'
              .col.s12.m6.l3.card
                +afQuickField name='databases' class='active'
            .row.z-depth-1
              .col.s12.m6.l3
                +afQuickField name='trades'
              .col.s12.m6.l3
                +afQuickField name='professions'
              .col.s12.m6.l3
                +afQuickField name='certifications'
<<<<<<< HEAD
=======
            .form-group
              .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
                a.btn-floating.btn-large.purple
                  i.large.mdi-navigation-menu
                ul
                  li
                    button.btn-floating.yellow.darken-1(type='button', onclick='history.back(-1)')
                      i.material-icons skip_previous
                  li
                    button.btn-floating.red(type='reset')
                      i.fa.fa-undo
                  li
                    button.btn-floating.green(type='submit')
                      i.fa.fa-check
>>>>>>> f29d492fcbbde9cd0cf1b67eda297da492857da3
      else
        +spinner
