template(name='editPeoplePage')
  if customTemplate
    +editPeoplePageCustom  
  else 
    .flow-text.container2.editPeople
      +autoForm id='editPeoplePage' collection='Meteor.users'  doc=currentUser type='update'  
        +fabBackResetSubmit
        br
        if Template.subscriptionsReady
          fieldset.active
            legend Edit User Profile
            .row.z-depth-1
              .col.s12.m6.l3
                +afQuickField name='profile.firstName'
              .col.s12.m6.l3
                +afQuickField name='profile.lastName'
              .col.s12.m6.l3
                +afQuickField name='profile.cpyPosition'
              .col.s12.m6.l3
                +afQuickField name='profile.cpyName'
              .col.s12.m6.l3
                +afQuickField name='profile.cpyDiv'
              .col.s12.m6.l3
                +afQuickField name='profile.website'
              .col.s12.m6.l3
                +afQuickField name='profile.phone'
              .col.s12.m6.l3
                +afQuickField name='profile.mobile'
            .row
              .divider.teal
              .section
                .row               
                  h6.teal-text Email 
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.teal(type='button', data-autoform-field='emails', data-position='bottom', data-tooltip='Add')
                      i.fa.fa-plus        
                  +afEachArrayItem name='emails'
                    .col.s12.m6.l3
                      button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
                        i.fa.fa-trash                            
                      +afQuickField name=this.name label=false                
        else
          +spinner
