<template name = "resourcesPage">
  <h1 class="icon-page">Resources</h1>
  <div class="row flow-text center-align">
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-user"></i><br><br> Create People<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View People<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-users"></i><br><br> Create Group<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Groups<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-bullseye"></i><br><br> Create Skill<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Skills<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-university"></i><br><br> Create Qualifications<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Qualifications<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-wrench"></i><br><br> Create Labor<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Labor<br><br></a>
    </div>
  </div>
</template>
