<template name = 'viewPeoplePage'>
    <div class='flow-text container2'>
      {{#if Template.subscriptionsReady}}
      <br>
      <fieldset>
          <legend>People</legend>
          {{> reactiveTable collection=userArray settings=settings class='table striped'}}
        </fieldset>
      {{else}}
        {{>spinner}}
     {{/if}}
    </div>
    <div class='fixed-action-btn' style='bottom: 45px; right: 24px;'>
      <a href='{{pathFor '../resources'}}' class='btn-floating btn-large'>
        <i class='large material-icons'>skip_previous</i>
      </a>
    </div>
</template>

<template name = 'editPerson'>
  <button type='button' class='btn-floating waves-effect waves-light tooltipped btnEach'
    data-position='bottom' data-delay='50' data-tooltip='edit user'>
    <i class='fa fa-edit'></i></button>
  <button type='button' class='btn-floating waves-effect waves-light tooltipped btnEach2'
    data-position='bottom' data-delay='50' data-tooltip='edit permissions'>
    <i class='fa fa-shield'></i></button>
  <button type='button' class='btn-floating waves-effect waves-light tooltipped btnEach3 red'
    data-position='bottom' data-delay='50' data-tooltip='Permanently delsete user!'>
    <i class='fa fa-trash-o'></i></button>
</template>
