template(name='assetsPageCustom')
  .container
    h1.icon-page.hide-on-small-only Custom Assets Page
    br
    .row.center-align
      .col.s6.m4.l3
        a.waves-effect.waves-dark.icon-page(href='{{pathFor "assets/view-locations"}}')
          i.fa-5x.fa.fa-gears
          br
          br
          |  Assets & Locations
          br
          br
