template(name='duplicateAssetClassificationPage')
  if customTemplate
    +duplicateAssetClassificationCustom  
  else
    // template located in layouts folder
    +duplicateClassificationPage  duplicateDoc=currentDoc
