@media only screen and (min-width: 0)
  table
    font-size 12px !important

@media only screen and (min-width: 992px)
  table
    font-size 14px !important

@media only screen and (min-width: 1200px)
  table
    font-size 16px !important

.backdrop
  background-color teal

.container2
  margin 0 auto
  width 95%

.big-icon
  font-size 160px !important

.icon-page
  color #263238 !important

.treeview
  margin-top 1em
  min-height 200px

.toast-success
  background-color #2BBBAD !important

.button-fa
  padding-bottom 2px

.navbar-icon
  padding 0 12px 0 12px

.collection
  overflow-y scroll !important

select
  height auto !important

[type="radio"] + label
  padding-right 35px

.flipClock
  position: fixed
  bottom: 0
  right: 0
  opacity: 0.5
  padding-left: 2%
  // Scale
  transform-origin: 0 0
  transform: scale(.75)
  -ms-transform: scale(.75)
  -webkit-transform-origin: 0 0
  -webkit-transform: scale(.75)
  -o-transform-origin: 0 0
  -o-transform: scale(.75)
  -moz-transform-origin: 0 0
  -moz-transform: scale(.75)

.field-border
  border:1px solid teal
  border-radius: 10px
  padding: 1%
  margin: 1%

.margin-bottom-420
  margin-bottom: 420px
