.big-icon {
    font-size: 160px !important;
}

.icon-page {
  color: #263238 !important;
}

.treeview {
  margin-top:1em;
  min-height:200px;
}
// Change Toast to Materialize color scheme
.toast-success {
  background-color: #2BBBAD !important;
}
.toast-error {
  background-color: #F44336 !important;
}
.button-fa{
  padding-bottom: 2px;
}
