@media only screen and (min-width: 0)
  table
    font-size 12px !important

@media only screen and (min-width: 992px)
  table
    font-size 14px !important

@media only screen and (min-width: 1200px)
  table
    font-size 16px !important

.container2
  margin 0 auto
  width 95%

.big-icon
  font-size 160px !important

.icon-page
  color #263238 !important

.treeview
  margin-top 1em
  min-height 200px

.toast-success
  background-color #2BBBAD !important

.button-fa
  padding-bottom 2px

.navbar-icon
  padding 0 12px 0 12px

.collection
  overflow-y scroll !important

.backdrop
  background-color: purple

select
  height auto !important
