<template name = "assetsPage">
    <h1 class="icon-page">Assets</h1>
    <div class="row center-align">
      <div class="col s12 m6 l3">
        <a href="{{pathFor 'assets/create-location'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-map-marker"></i><br><br> Create Location<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="{{pathFor 'assets/view-locations'}}" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-map-o"></i><br><br> View Locations<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-th-list"></i><br><br> Create Asset Classification<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Asset Classifications<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-tachometer"></i><br><br> Create Meter<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Meters<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-gear"></i><br><br> Create Asset<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-gears"></i><br><br> View Assets<br><br></a>
      </div>
      <div class="col s12 m6 l3">
        <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-download"></i><br><br> Import<br><br></a>
      </div>
    </div>
</template>
