template(name='createAssetClassPage')
  if customTemplate
    +createAssetClassPageCustom
  else
    .container2
      br
      +createClassPage classType='asset-class' afSchema=assetClassFormSchema
      br

template(name='createClassPage')
  +autoForm schema=afSchema id='createClassPage' type='method' meteormethod='createClass'
    fieldset
      legend New Asset Class
      .row
        +afQuickField name='id' type='hidden'
        +afQuickField name='type' value=classType type='hidden'
        +afQuickField name='parent' value=parentID defaultValue='#' type='hidden'
        .col.s12.m6.l3
          +afQuickField name='classID'
        div
          +afQuickField name='text'
        div
          +afQuickField name='description'
      +fabBackResetSubmit
