template(name='createLocationPage')
  if customTemplate
    +createLocationPageCustom
  else  
    .container2
      if Template.subscriptionsReady    
        br
        +autoForm schema=locationFormSchema id='createLocationPage' type='method' meteormethod='createLoc'
          fieldset
            legend New Location
            .row
              .col.s12.m6.l3
                +afQuickField name='id' label='*ID'
                +afQuickField name='type' value=locationType type='hidden'
              .col.s12.m6.l3
                +afQuickField name='parent' value=parentID defaultValue='#' type='hidden'
              .col.s12.m6.l3
                +afQuickField name='criticality' label='*Criticality'
              div
                +afQuickField name='text' label='*Title'
              div
                +afQuickField name='description'
              div
                +afQuickField name='safety'
            .row
              .divider.teal
              .section
                h6.teal-text Geolocation Information
                .col.s12.m6.l3
                  +afQuickField name='lat1'
                .col.s12.m6.l3
                  +afQuickField name='long1'
            .row
              .divider.teal
              .section
                h6.teal-text Address Information
                div
                  +afQuickField name='address'
                .col.s12.m6.l3
                  +afQuickField name='state'
                .col.s12.m6.l3
                  +afQuickField name='zip'
                .col.s12.m6.l3
                  +afQuickField name='country'
            .row
              .divider.teal
              .section
                h6.teal-text Additional Information
                .col.s12.m6.l3
                  +afQuickField name='urlTechData'
                .col.s12.m6.l3
                  +afQuickField name='urlOpData'
                .col.s12.m6.l3
                  +afQuickField name='urlPhoto'
            .row
              .divider.teal
              .section
                br
                .form-group
                  .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
                    a.btn-floating.btn-large.purple
                      i.large.mdi-navigation-menu
                    ul
                      li
                        button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                          i.material-icons skip_previous
                      li
                        button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                          i.fa.fa-undo
                      li
                        button.btn-floating.green.tooltipped(type='submit', data-position='left', data-tooltip='Submit Form')
                          i.fa.fa-check        
      else
        +spinner
      br
