<template name = "createLocationPage">
    <div class="flow-text">
      {{> insertLocationForm}}
    </div>
</template>

<template name="insertLocationForm">
  <br>
  <div class="row">
    {{#autoForm schema=locationFormSchema id="locationForm" type="method" meteormethod="createLoc"}}
    <fieldset>
      <legend>New Location</legend>
      <div class="col s12 m6 l3">
        {{> afQuickField name="id"}}
      </div>
      <div class="col s12 m6 l3">
        {{> afQuickField name="type"}}
      </div>
      <div class="col s12 m6 l3">
        {{> afQuickField name="parent" value=parentID}}
      </div>
      <div>
        {{> afQuickField name="text"}}
      </div>
      <div>
        {{> afQuickField name="description" rows=10}}
      </div>
      <div>
        <button type="submit" class="btn waves-effect waves-light">Submit</button>
        <button type="reset" class="btn waves-effect waves-light red">Reset</button>
        <a href="{{pathFor '../assets/view-locations'}}"><button type="button" class="btn waves-effect waves-light"><i class="material-icons">skip_previous</i> Back</button></a>
      </div>
    </fieldset>
  {{/autoForm}}
  </div>
</template>
