template(name='createAssetClassificationPage')
  if customTemplate
    +createAssetClassificationPageCustom
  else
    .container2
      br
      +createClassificationPage classificationType='asset-classification' afSchema=assetClassificationFormSchema
      br

template(name='createClassificationPage')
  +autoForm schema=afSchema id='createClassificationPage' type='method' meteormethod='createClassification'
    fieldset
      legend New Asset Classification
      .row
        +afQuickField name='id' type='hidden'
        +afQuickField name='type' value=classificationType type='hidden'
        +afQuickField name='parent' value=parentID defaultValue='#' type='hidden'
        .col.s12.m6.l3
          +afQuickField name='classificationID'
        div
          +afQuickField name='text'
        div
          +afQuickField name='description'
      +fabBackResetSubmit
