<template name = "duplicateLocationPage">
  <div class="flow-text">
    {{#if Template.subscriptionsReady}}
    <br>
    {{#autoForm schema=locationFormSchema id="duplicateLocationPage" type="method" meteormethod="createLoc"}}
    <fieldset>
      {{#with duplicateDoc}}
     <legend>Edit Location</legend>
       <div class="row">
         <div class="col s12 m6 l3">
           {{> afQuickField name="id"}}
         </div>
         {{> afQuickField name="type" value="location" type="hidden"}}
         <div class="col s12 m6 l3">
           {{> afQuickField name="parent" value=parent}}
         </div>
         <div class="col s12 m6 l3">
           {{> afQuickField name="criticality" value=criticality}}
         </div>
         <div>
           {{> afQuickField name="text" value=text}}
         </div>
         <div>
           {{> afQuickField name="description" value=description}}
         </div>
         <div>
           {{> afQuickField name="safety" value=safety}}
         </div>
       </div>
       <div class="row">
         <div class="divider teal"></div>
         <div class="section">
           <h6 class="teal-text">Geolocation Information</h6>
           <div class="col s12 m6 l3">
             {{> afQuickField name="lat1" value=lat1}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="long1" value=long1}}
           </div>
         </div>
       </div>
       <div class="row">
         <div class="divider teal"></div>
         <div class="section">
           <h6 class="teal-text">Address Information</h6>
           <div>
             {{> afQuickField name="address" value=address}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="state" value=state}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="zip" value=zip}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="country" value=country}}
           </div>
         </div>
       </div>
       <div class="row">
         <div class="divider teal"></div>
         <div class="section">
           <h6 class="teal-text">Additional Information</h6>
           <div class="col s12 m6 l3">
             {{> afQuickField name="urlTechData" value=urlTechData}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="urlOpData" value=urlOpData}}
           </div>
           <div class="col s12 m6 l3">
             {{> afQuickField name="urlPhoto" value=urlPhoto}}
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
           <a class="btn-floating btn-large purple">
             <i class="large mdi-navigation-menu"></i>
           </a>
           <ul>
             <li><a href="{{pathFor '../assets/view-locations'}}" class="btn-floating yellow darken-1"><i class="material-icons">skip_previous</i></a></li>
             <li><button class="btn-floating red" type="reset"><i class="fa fa-undo"></i></button></li>
             <li><button class="btn-floating green" type="submit"><i class="fa fa-check"></i></button></li>
           </ul>
         </div>
       </div>
       {{/with}}
     </fieldset>
     {{/autoForm}}
    {{else}}
      {{>spinner}}
   {{/if}}
  </div>
</template>
