template(name='editLocationPage')
  .flow-text.container2
    if Template.subscriptionsReady
      br
      +autoForm schema=locationFormSchema id='editLocationPage' type='update' collection='Locations' doc=currentDoc
        fieldset
          legend Edit Location
          .row
            .col.s12.m6.l3      
              +afQuickField name='type'
            .col.s12.m6.l3                
              +afQuickField name='parent' type='hidden'
            .col.s12.m6.l3                
              +afQuickField name='criticality'
            .col.s12.m6.l3                
              +afQuickField name='text'
            .col.s12.m6.l3                
              +afQuickField name='description'
            .col.s12.m6.l3                
              +afQuickField name='safety'
          .row
            .divider.teal
            .section
              h6.teal-text Geolocation Information
              .col.s12.m6.l3
                +afQuickField name='lat1'
              .col.s12.m6.l3
                +afQuickField name='long1'
          .row
            .divider.teal
            .section
              h6.teal-text Address Information
              div
                +afQuickField name='address'
              .col.s12.m6.l3
                +afQuickField name='state'
              .col.s12.m6.l3
                +afQuickField name='zip'
              .col.s12.m6.l3
                +afQuickField name='country'      
          .row
            .divider.teal
            .section
              h6.teal-text Additional Information
              .col.s12.m6.l3
                +afQuickField name='urlTechData'
              .col.s12.m6.l3
                +afQuickField name='urlOpData'
              .col.s12.m6.l3
                +afQuickField name='urlPhoto'      
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1(type='button', onclick='history.back(-1)')
                    i.material-icons skip_previous
                li
                  button.btn-floating.red(type='reset')
                    i.fa.fa-undo
                li
                  button.btn-floating.green(type='submit')
                    i.fa.fa-check                                        
    else
      +spinner
    br
