<template name = "editLocationPage">
    <div class="flow-text">
      {{#if Template.subscriptionsReady}}
      <div class="row">
        <br>
        {{#autoForm schema=locationFormSchema id="editLocationPage" type="update" collection="Locations" doc=currentDoc}}
         <legend>Edit Location / Asset</legend>
         <div class="col s12 m6 l3">
           {{> afQuickField name='type'}}
         </div>
         <div class="col s12 m6 l3">
           {{> afQuickField name='parent'}}
         </div>
         {{> afQuickField name='text'}}
         {{> afQuickField name='description' rows=3}}
         {{> afQuickField name='id' type="hidden"}} 
         <div class="form-group">
           <button type="submit" class="btn waves-effect waves-light">Submit</button>
           <button type="reset" class="btn waves-effect waves-light red">Reset Form</button>
           <a href="{{pathFor '../assets/view-locations'}}"><button type="button" class="btn waves-effect waves-light"><i class="material-icons">skip_previous</i> Back</button></a>
         </div>
       {{/autoForm}}
     </div>
     {{/if}}
    </div>
</template>
