<template name = "editLocationPage">
    <div class="flow-text">
      {{#if Template.subscriptionsReady}}
      <div>
      <br>
       {{#autoForm schema=locationFormSchema id="editLocationPage" type="update" collection="Locations" doc=currentDoc}}
         <legend>Edit Location / Asset</legend>
         {{> afQuickField name='id'}}
         {{> afQuickField name='text'}}
         {{> afQuickField name='description' rows=3}}
         {{> afQuickField name='type'}}
         {{> afQuickField name='parent'}}
         <div class="form-group">
           <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
           <button type="reset" class="btn btn-default" disabled="{{disableButtons}}">Reset Form</button>
         </div>
       {{/autoForm}}
     </div>
     {{/if}}
    </div>
</template>
