<template name = "viewMetersPage">
    <div class="flow-text">
      {{#if Template.subscriptionsReady}}
      <br>
      <fieldset>
        {{#with currentDoc}}
          <legend>Meters for {{text}} (id: {{id}})</legend>
          <div class="row">
            <h6 class="teal-text">Meters</h6>
            {{#each meters}}
            <div class="row item">
              <div class="col s12 m6 l3">
                <label>Title</label><p class="teal-text"><small>{{text}}</small></p>
              </div>
              <div class="col s12 m6 l3">
                <label>Meter ID</label><p class="teal-text"><small>{{id}}</small></p>
              </div>
              <div class="col s12 m6 l3">
                <label>Meter Reading</label><p class="teal-text"><small>{{reading}}  {{units}}</small>
                  <button type="button" class="btn-floating waves-effect waves-light tooltipped btnEach"
                    data-position="bottom" data-delay="50" data-tooltip="Update meter reading">
                    <i class="fa fa-tachometer"></i></button>
                  <button type="button" class="btn-floating waves-effect waves-light tooltipped btnEach2 red"
                    data-position="bottom" data-delay="50" data-tooltip="Permanently delete meter!">
                    <i class="material-icons">delete</i></button>
                </p>
              </div>
            </div>
            {{/each}}
            <!-- Meter Modals -->
            <div id="viewMetersPageModal1" class="modal">
              <div class="container">
                <div class="modal-content">
                  <h4>Meter Reading</h4>
                  <p>Please enter the new meter reading.</p>
                </div>
                <label class="active" for="inpCreateMeterPageReading">Meter Reading</label>
                <input placeholder="Current meter value" type="number" class="validate" value=0 required>
                <div class="modal-footer">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                  <button type="button" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</button>
                </div>
              </div>
            </div>
            <!-- Meter Modals -->
            <div id="viewMetersPageModal2" class="modal">
              <div class="container">
                <div class="modal-content">
                  <h4 class="red-text">Delete Meter</h4>
                  <p>Warning! This will permanently delete the meter.</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                  <button type="button" class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</button>
                </div>
              </div>
            </div>
          </div>
        {{/with}}
      </fieldset>
      {{else}}
        {{>spinner}}
     {{/if}}
    </div>
</template>
