<template name = "viewLocationsPage">
    <div class="row">
        <div>
          <h5>Assets and Locations
          <br>
            <a href="{{pathFor '../assets'}}"><button type="button" class="btn-floating waves-effect waves-light hide-on-large-only">
              <i class="material-icons">skip_previous</i></button></a></h5>
            <div class="row">
              <div class="col s12 m9 l10">
                {{#if serverConnected}}
                <div class="hide-on-large-only">
                  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large purple">
                      <i class="large mdi-navigation-menu"></i>
                    </a>
                    <ul>
                      <li><a id="btnViewLocationsPageEdit2" class="btn-floating blue"><i class="fa fa-edit"></i></a></li>
                      <li><a id="btnViewLocationsPageNewAss2" class="btn-floating green"><i class="fa fa-industry"></i></a></li>
                      <li><a id="btnViewLocationsPageNewLoc2" class="btn-floating green"><i class="fa fa-map-marker"></i></a></li>
                      <li><a id="btnViewLocationsPageViewLoc2" class="btn-floating green"><i class="fa fa-map-binoculars"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="hide-on-med-and-down">
                  <button type="button" id="btnViewLocationsPageNewLoc" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Create new location">
                    <i class="fa fa-map-marker"></i></button>
                  <button type="button" id="btnViewLocationsPageNewAss" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Create new asset">
                    <i class="fa fa-industry"></i></button>
                  <button type="button" id="btnViewLocationsPageEdit" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Edit asset or location">
                    <i class="fa fa-edit"></i></button>
                  <button type="button" id="btnViewLocationsPageCopy" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Copy asset or location">
                    <i class="fa fa-copy"></i></button>
                  <button type="button" id="btnViewLocationsPageViewLoc" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="View location or asset">
                    <i class="fa fa-binoculars"></i></button>
                  |
                  <button type="button" id="btnViewLocationsPageDeleteLoc" class="btn-floating btn-large waves-effect waves-light red tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Delete location or asset">
                    <i class="material-icons">delete</i></button>
                  |
                  <button type="button" id="btnViewLocationsPageCreateMeter" class="btn-floating btn-large waves-effect waves-light blue tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Create new meter">
                    <i class="fa fa-tachometer"></i></button>
                  <button type="button" id="" class="btn-floating btn-large waves-effect waves-light blue tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="View meters">
                    <i class="fa fa-binoculars"></i></button>
                  |
                  <a href="{{pathFor '../assets'}}"><button type="button" class="btn-floating btn-large waves-effect waves-light tooltipped"
                    data-position="bottom" data-delay="50" data-tooltip="Go back">
                    <i class="material-icons">skip_previous</i></button></a>
                </div>
                {{/if}}
              </div>
              <div style="text-align:right;" class="col s12 m3 l2 z-depth-1">
                  <input type="text" value="" id="view_q" placeholder="Search"/>
              </div>
            </div>
            <div class="row treeview">
              <div class="row teal lighten-1 white-text z-depth-1">&nbsp;&nbsp;{{locationID}}</div>
                  <div id="jstree_view" class="row treeview z-depth-1"></div>
            </div>
        </div>
    </div>
</template>
