<template name = "viewMeterPage">
    <div class="flow-text">
      {{#if Template.subscriptionsReady}}
      <br>
      <fieldset>
        {{#with currentDoc}}
          <legend>Meters for {{text}} (id: {{id}})</legend>
            <form class="new-record">
              <br>
              <div class="row">
                <div class="input-field col s12 m6 l3">
                  <input id="inpCreateMeterPageTitle" placeholder="Give your meter a name" type="text" class="validate" required>
                  <label class="active" for="inpCreateMeterPageTitle">Title</label>
                </div>
                <div class="input-field col s12 m6 l3">
                  <input id="inpCreateMeterPageID" placeholder="Give your meter an ID" type="text" class="validate" required>
                  <label class="active" for="inpCreateMeterPageID">Meter ID</label>
                </div>
                <div class="input-field col s12 m6 l3">
                  <input id="inpCreateMeterPageReading" placeholder="Current meter value" type="number" class="validate" value=0 required>
                  <label class="active" for="inpCreateMeterPageReading">Meter Reading</label>
                </div>
                <div class="input-field col s12 m6 l3">
                  <input id="inpCreateMeterPageUnits" placeholder="Measurement units" type="text" class="validate" required>
                  <label class="active" for="inpCreateMeterPageUnits">Units</label>
                </div>
              </div>
              <br>
              <div class="row">
                <button id="btnviewMeterPage" class="btn waves-effect waves-light" type="button">
                  <i class="fa fa-tachometer"></i> Create
                </button>
                <a href="{{pathFor '../assets/view-locations'}}"><button type="button" class="btn waves-effect waves-light tooltipped red"
                  data-position="bottom" data-delay="50" data-tooltip="Go back">
                  <i class="material-icons">skip_previous</i>Cancel</button></a>
              </div>
            </form>
        {{/with}}
      </fieldset>
      {{else}}
        {{>spinner}}
     {{/if}}
    </div>
</template>
