template(name='viewLocationPage')
  if customTemplate
    +viewLocationPageCustom  
  else  
    .flow-text.container2.viewLocation
      .form-group
        .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.purple
            i.large.mdi-navigation-menu
          ul
            li
              button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                i.material-icons skip_previous
            li
              a.btnCopy.btn-floating.green.tooltipped(data-position='left', data-tooltip='Copy')
                i.fa.fa-copy
            li
              a.btnEdit.btn-floating.blue.tooltipped(data-position='left', data-tooltip='Edit')
                i.fa.fa-edit
      br
      fieldset
        legend View Location 
        +autoForm schema=locationsFormSchema id="viewLocationPage" type="readonly" collection="Locations" doc=viewDoc
          if Template.subscriptionsReady
            .row
              h6.teal-text Asset Details 
              .col.s12.m6.l3
                +afQuickField name="id"                                                   
              .col.s12.m6.l3
                +afQuickField name="criticality"                          
              div
                +afQuickField name="text"                                     
              div
                +afQuickField name="description"  
              div
                +afQuickField name="safety"                                                            
            .row
              .divider.teal
              .section
                h6.teal-text Geolocation Information 
                .col.s12.m6.l3
                  +afQuickField name="lat1"
                .col.s12.m6.l3
                  +afQuickField name="long1"                   
            // Other info
            .row
              .divider.teal
              .section
                h6.teal-text Address Information
                .col.s12.m6.l3
                  +afQuickField name="address"
                .col.s12.m6.l3
                  +afQuickField name="state"
                .col.s12.m6.l3
                  +afQuickField name="zip"  
                .col.s12.m6.l3
                  +afQuickField name="country"                                           
            .row
              .divider.teal
              .section
                h6.teal-text Additional Information
                .col.s12.m6.l3
                  +afQuickField name="urlTechData"
                .col.s12.m6.l3
                  +afQuickField name="urlOpData"
                .col.s12.m6.l3
                  +afQuickField name="urlPhoto"                                           
          else
            +spinner
