template(name='viewLocationPage')
  if customTemplate
    +viewLocationPageCustom  
  else  
    .flow-text.container2
      .form-group
        .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.purple
            i.large.mdi-navigation-menu
          ul
            li
              button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                i.material-icons skip_previous
            li
              a#btnViewLocationPageCopy.btn-floating.green.tooltipped(data-position='left', data-tooltip='Go Back')
                i.fa.fa-copy
            li
              a#btnViewLocationPageEdit.btn-floating.blue.tooltipped(data-position='left', data-tooltip='Go Back')
                i.fa.fa-edit
      if Template.subscriptionsReady
        br
        fieldset
          legend View Location
          .row
            .col.s12.m6.l3
              label Location ID
              p.teal-text
                small 
                  = viewDoc.id
            .col.s12.m6.l3
              label Title
              p.teal-text
                small 
                  = viewDoc.text
            .col.s12.m6.l3
              label Parent ID
              p.teal-text
                small 
                  = viewDoc.parent
            .col.s12.m6.l3
              label Criticality
              p.teal-text
                small 
                  = viewDoc.criticality
            div
              label Description
              p.teal-text
                small 
                  = viewDoc.description
            div
              label Safety
              p.teal-text
                small 
                  = viewDoc.safety
          .row
            .divider.teal
            .section
              h6.teal-text Geolocation Information
              .col.s12.m6.l3
                label Lat1
                p.teal-text
                  small 
                    = viewDoc.lat1
              .col.s12.m6.l3
                label Long1
                p.teal-text
                  small 
                    = viewDoc.long1
          .row
            .divider.teal
            .section
              h6.teal-text Address Information
              .col.s12.m6.l3
                label Address
                p.teal-text
                  small 
                    = viewDoc.address
              .col.s12.m6.l3
                label State
                p.teal-text
                  small 
                    = viewDoc.state
              .col.s12.m6.l3
                label Zip
                p.teal-text
                  small 
                    = viewDoc.zip
              .col.s12.m6.l3
                label Country
                p.teal-text
                  small 
                    = viewDoc.country
          .row
            .divider.teal
            .section
              h6.teal-text Additional Information
              .col.s12.m6.l3
                label Technical Data URL
                p.teal-text
                  small 
                    = viewDoc.urlTechData
              .col.s12.m6.l3
                label Operational Data URL
                p.teal-text
                  small 
                    = viewDoc.urlOpData
              .col.s12.m6.l3
                label Photo URL
                p.teal-text
                  small 
                    = viewDoc.urlPhoto
      else
        +spinner
      br
