template(name='viewLocationsPage')
  if customTemplate
    +viewLocationsPageCustom  
  else  
    .container
      .row
        div
          h5
            | Assets and Locations
            br
          .row
            .col.s12.m9.l10
              if serverConnected
                .hide-on-large-only
                  .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
                    a.btn-floating.btn-large.purple
                      i.large.mdi-navigation-menu
                    ul
                      li
                        button.btn-floating.teal(type='button', onclick='history.back(-1)')
                          i.material-icons skip_previous
                      li
                        a#btnViewLocationsPageEdit2.btn-floating.blue
                          i.fa.fa-edit
                      li
                        a#btnViewLocationsPageNewAss2.btn-floating.green
                          i.fa.fa-industry
                      li
                        a#btnViewLocationsPageNewLoc2.btn-floating.green
                          i.fa.fa-map-marker
                      li
                        a#btnViewLocationsPageNewDB2.btn-floating.green
                          i.fa.fa-database
                      li
                        a#btnViewLocationsPageViewLoc2.btn-floating.teal
                          i.fa.fa-binoculars
                .hide-on-med-and-down
                  button#btnViewLocationsPageNewDB.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Create new database')
                    i.fa.fa-database
                  button#btnViewLocationsPageNewLoc.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Create new location')
                    i.fa.fa-map-marker
                  button#btnViewLocationsPageNewAss.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Create new asset')
                    i.fa.fa-industry
                  button#btnViewLocationsPageEdit.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Edit asset or location')
                    i.fa.fa-edit
                  button#btnViewLocationsPageCopy.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Copy asset or location')
                    i.fa.fa-copy
                  button#btnViewLocationsPageViewLoc.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='View location or asset')
                    i.fa.fa-binoculars
                  |                   |
                  button#btnViewLocationsPageDeleteLoc.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Delete location or asset')
                    i.fa.fa-trash-o
                  |                   |
                  button#btnViewLocationsPageCreateMeter.btn-floating.btn-large.waves-effect.waves-light.blue.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Create new meter')
                    i.fa.fa-tachometer
                  a(href="{{pathFor '../assets/view-meters'}}")
                    button.btn-floating.btn-large.waves-effect.waves-light.blue.tooltipped(type='button', id='', data-position='bottom', data-delay='50', data-tooltip='View meters')
                      i.fa.fa-binoculars             
            .col.s12.m3.l2.z-depth-1(style='text-align:right;')
              input.view_q(type='text', value='', placeholder='Search')
          .row.treeview
            .row.teal.lighten-1.white-text.z-depth-1   
              = locationID
            .tree_view.row.treeview.z-depth-1            
