<template name = "viewLocationsPage">
    <div class="row">
        <div>
            <h3>Locations and Assets</h3>
            <div class="row">
              <div class="col s12 m9 l10">
                {{#if serverConnected}}
                  <a href="{{pathFor '/assets/view'}}">
                    <button type="button" class="btn waves-effect waves-light"><i class="fa fa-binoculars"></i> View</button>
                  </a>
                  <button type="button" id="newLoc" class="btn waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create new location">
                      <i class=" fa fa-map-marker"></i> New</button>
                  <a href="{{pathFor '/assets/create-asset'}}">
                    <button type="button" class="btn waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create new asset">
                    <i class="fa fa-industry button-fa"></i> New</button>
                  </a>
                  <button type="button" id="editLoc" class="btn waves-effect waves-light"><i class="fa fa-edit"></i> Edit</button>
                  <button type="button" id="copyLoc" class="btn waves-effect waves-light"><i class="fa fa-copy"></i> Copy</button>
                  <button type="button" id="deleteLoc" class="btn waves-effect waves-light red"><i class="material-icons">delete</i> Delete</button>
                {{/if}}
                <a href="{{pathFor '../assets'}}"><button type="button" class="btn waves-effect waves-light"><i class="material-icons">skip_previous</i> Back</button></a>
              </div>
              <div style="text-align:right;" class="col s12 m3 l2 z-depth-1">
                  <input type="text" value="" id="view_q" placeholder="Search" />
              </div>
            </div>
            <div class="row treeview">
              <div class="row teal lighten-1 white-text z-depth-1">&nbsp;&nbsp;{{locationID}}</div>
                  <div id="jstree_view" class="row treeview z-depth-1"></div>
            </div>
        </div>
    </div>
</template>
