template(name='createWorkTemplatePage')
  if customTemplate
    +createWorkTemplatePageCustom  
  else
    .container2
      br
      +autoForm schema=createWorkTemplateSchema id='createWorkTemplatePage' type='method' meteormethod='createWorkTemplate'
        fieldset
          legend New Work Template
          .row
            +afQuickField name='createdByID' value=createdID type='hidden'
            +afQuickField name='text' 
          .row
            .divider.teal
            .section   
              +afxArrayAdd title='Work Plan' field='workPlan' item='workPlan' tip='Add Work Plan Task'
          +fabBackResetSubmit           
