template(name='createWorkTemplatePage')
  if customTemplate
    +createWorkTemplatePageCustom  
  else
    .container2
      br
      +autoForm schema=createWorkTemplateSchema id='createWorkTemplatePage' type='method' meteormethod='createWorkTemplate'
        fieldset
          legend New Work Template
          .row
            +afQuickField name='createdByID' value=createdID type='hidden'
            +afQuickField name='text' 
          .row
            .divider.teal
            .section                
              .row      
                h6.teal-text Work Plan
                  button.autoform-add-item.btn-floating.waves-effect.waves-light.teal.btnAdd3(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Add')
                    i.fa.fa-plus         
                +afEachArrayItem name='workPlan'
                  .col.s12.m6.l3 
                    button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
                      i.fa.fa-trash                             
                    +afQuickField name=this.name label=false  
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                    i.material-icons skip_previous
                li
                  button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                    i.fa.fa-undo
                li
                  button.btn-floating.green.tooltipped(type='submit', data-position='left', data-tooltip='Submit Form')
                    i.fa.fa-check            
