template(name='createSafetyTemplatePage')
  if customTemplate
    +createSafetyTemplatePageCustom  
  else
    .container2
      br
      +autoForm schema=createSafetyTemplateSchema id='createSafetyTemplatePage' type='method' meteormethod='createSafetyTemplate'
        fieldset
          legend New Safety Template
          .row
            +afQuickField name='createdByID' value=createdID type='hidden'
            +afQuickField name='text' 
          .row
            .divider.teal
            .section 
              +afxArrayAdd title='Safety Method' field='safetyMethod' item='safetyMethod' tip='Add Safety Method'
          +fabBackResetSubmit
          .form-group
