template(name='editSafetyTemplatePage')
  if customTemplate
    +editSafetyTemplatePageCustom  
  else  
    .flow-text.container2
      br
      fieldset.active
        legend Safety Method Template
        if Template.subscriptionsReady
          +autoForm schema=schemaSafetyplans id='editSafetyTemplatePage' type='update' collection='Safetyplans' doc=viewDoc
            .row
              +afQuickField name='text'
            .row
              .divider.teal
              .section
                +afxArrayAdd title='Safety Method' field='safetyMethod' item='safetyMethod' tip='Add Safety Method Task'
            +fabBackResetSubmit                         
        else
          +spinner                            
       
