template(name='editWorkTemplatePage')
  if customTemplate
    +editWorkTemplatePageCustom  
  else  
    .flow-text.container2
      br
      fieldset.active
        legend Work Plan Template
        if Template.subscriptionsReady
          +autoForm id='editWorkTemplatePage' type='update' collection='Workplans' doc=viewDoc
            .row
              +afQuickField name='text'
            .row
              .divider.teal
              .section
                +afxArrayAdd title='Work Plan' field='workPlan' item='workPlan' tip='Add Task'
            +fabBackResetSubmit                        
        else
          +spinner
