template(name='workQueryPage')
  if customTemplate
    +workQueryPageCustom  
  else 
    .flow-text.container2
      br
      fieldset
        legend Work
        h6
          | Number of records: 
          =numDocs      
        if Template.subscriptionsReady
          +reactiveTable collection=workArray settings=settings class='table striped'
        else
          +spinner
    .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.purple(href="{{pathFor '../work'}}")
        i.large.material-icons skip_previous
            
template(name='editWO')
  a(href='{{pathFor "view-workorder"}}')
    button.btn-floating.waves-effect.waves-light.tooltipped.btnView(type='button', data-delay='50', data-position='left', data-tooltip='View')
      i.fa.fa-search 
