template(name='safetyTemplatesPage')
  if customTemplate
    +safetyTemplatesPageCustom  
  else 
    .flow-text.container2
      br
      fieldset.safetyTemplates
        legend Safety Method Templates  
        a(href='{{pathFor "../work/create-safety"}}')
          button.btn-floating.btn-large.waves-effect.waves-light.tooltipped(type='button', data-position='bottom', data-delay='50', data-tooltip='Create new template')
            i.fa.fa-file-o
        if Template.subscriptionsReady 
          +reactiveTable collection=safetyCollection settings=settings class='table striped'
    +fabBack                      

template(name='safetyTemplatesDelete') 
  h5.red-text Warning this will permanently delete the safety method template!
  | This process cannot be undone.
  
