template(name='viewSafetyTemplatePage')
  if customTemplate
    +viewSafetyTemplatePageCustom  
  else  
    .flow-text.container2
      br
      +fabBackEdit
      fieldset
        legend Safety Method Template
        if Template.subscriptionsReady
          +lgeField label='Title' item=viewDoc.text
          .row
            .divider.teal
            .section  
              +reactiveTable collection=viewDoc.safetyMethod settings=settings class='table striped' 
        else
          +spinner       
