template(name='workPage')
  if customTemplate
    +workPageCustom  
  else 
    .container
      h1.icon-page {{_ 'work-mgt'}}
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "work/create"}}')
            i.fa-5x.fa.fa-commenting-o
            br
            br
            |  {{_ 'create-request'}}
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "work/view"}}')
            i.fa-5x.fa.fa-wrench
            br
            br
            |  {{_ 'work'}}
            br
            br                
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "work/my-workorders"}}')
            i.fa-5x.fa.fa-user
            br
            br
            |  {{_ 'my-work'}}
            br
            br
