template(name='editLocationPage')
  if customTemplate
    +editLocationPageCustom  
  else
    .container2 
      br 
      +autoForm schema=locationFormSchema id='editLocationPage' type='update' collection='Locations' doc=currentDoc
        fieldset.active
          legend Edit Location    
          if Template.subscriptionsReady
            br
            .row
              +afQuickField name="parent" type="hidden"
              +afQuickField name="treePath" type="hidden"               
              .col.s12.m6.l3
                +afQuickField name="assetID"                   
              .col.s12.m6.l3                
                +afQuickField name='criticality'
              div                
                +afQuickField name='text'
              div              
                +afQuickField name='description'
              div               
                +afQuickField name='safety'
            .row
              .divider.teal
              .section
                h6.teal-text Geolocation Information
                .col.s12.m6.l3
                  +afQuickField name='lat1'
                .col.s12.m6.l3
                  +afQuickField name='long1'
            .row
              .divider.teal
              .section
                h6.teal-text Address Information
                div
                  +afQuickField name='address'
                .col.s12.m6.l3
                  +afQuickField name='state'
                .col.s12.m6.l3
                  +afQuickField name='zip'
                .col.s12.m6.l3
                  +afQuickField name='country'      
            .row
              .divider.teal
              .section
                h6.teal-text Additional Information
                .col.s12.m6.l3
                  +afQuickField name='urlTechData'
                .col.s12.m6.l3
                  +afQuickField name='urlOpData'
                .col.s12.m6.l3
                  +afQuickField name='urlPhoto'                                            
          else
            +spinner
          +fabBackResetSubmit
      br
