<template name = "purchasingPage">
  <h1 class="icon-page">Purchasing</h1>
  <div class="row flow-text center-align">
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-file-o"></i><br><br> Create Purchase Req<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-files-o"></i><br><br> View Purchase Reqs<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-file-o"></i><br><br> Create Purchase Order<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-files-o"></i><br><br> View Purchase Orders<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-sticky-note-o"></i><br><br> Create Company Card<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Company Cards<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-money"></i><br><br> Invoice Received<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-binoculars"></i><br><br> View Invoices<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-cube"></i><br><br> Goods Received<br><br></a>
    </div>
    <div class="col s12 m6 l3">
      <a href="#" class="waves-effect waves-dark icon-page"><i class="fa-5x fa fa-cubes"></i><br><br> View Goods Received<br><br></a>
    </div>
  </div>
</template>
