<template name = 'pmPage'>
  <div class='container'>
    <h1 class='icon-page'>Planned Maintenance</h1>
    <div class='row flow-text center-align'>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-file-o'></i><br><br> Create PM Template<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-files-o'></i><br><br> View PM Template<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-bus'></i><br><br> Create PM Route<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-map-o'></i><br><br> View PM Routes<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-calendar-o'></i><br><br> Create PM Plan<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-calendar'></i><br><br> View PM Plans<br><br></a>
      </div>
    </div>
  </div>
</template>
