template(name='pmPage')
  if customTemplate
    +pmPageCustom  
  else   
    .container
      h1.icon-page Planned Maintenance
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Create PM Template
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-files-o
            br
            br
            |  View PM Template
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-bus
            br
            br
            |  Create PM Route
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-map-o
            br
            br
            |  View PM Routes
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-calendar-o
            br
            br
            |  Create PM Plan
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-calendar
            br
            br
            |  View PM Plans
            br
            br
