template(name='pmPage')
  if customTemplate
    +pmPageCustom  
  else   
    .container
      h1.icon-page Planned Maintenance
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "pm/view-groups"}}')
            i.fa-5x.fa.fa-cogs
            br
            br
            |  Asset Groups
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "pm/view-pms"}}')
            i.fa-5x.fa.fa-calendar
            br
            br
            |  PM Plans
            br
            br
