template(name='viewPMsPage')
  if customTemplate
    +viewPMsPageCustom  
  else 
    .container2
      br
      fieldset.viewPMs
        legend View PM
          a(href='{{pathFor "create-pm"}}')
              button.btn-floating.waves-effect.waves-light.tooltipped(type='button', data-delay='50', data-position='bottom', data-tooltip='Create PM')
                i.fa.fa-plus     
        .row
          if Template.subscriptionsReady            
            +reactiveTable collection=collectionPM settings=settings class='table striped'
          else
            +spinner
        +fabBack     
     
template(name='viewPMsDelete') 
  h5.red-text Warning this will permanently delete the PM and all work history!
  | This process cannot be undone. Please consider making PM inactive instead.
