template(name='viewAssetGroupPage')
  if customTemplate
    +viewAssetGroupPageCustom  
  else 
    .container2
      br
      fieldset
        legend View Asset Group
          a(href='{{pathFor "edit-group"}}')
              button.btn-floating.waves-effect.waves-light.tooltipped(type='button', data-delay='50', data-position='bottom', data-tooltip='Edit Group')
                i.fa.fa-edit
        .row
          =groupText 
        .row
          +reactiveTable collection=assetArray settings=settings class='table striped'
        +fabBack     
