template(name='deleteEquipmentClassificationPage')
  if customTemplate
    +deleteEquipmentClassificationCustom  
  else
    // template located in layouts folder
    +deleteClassificationPage doc=textDoc
