template(name='viewEquipmentsPage')
  if customTemplate
    +viewEquipmentsPageCustom  
  else 
    .container2
      br
      fieldset.viewEquipments
        legend View Equipment
          a(href='{{pathFor "create-equipment"}}')
              button.btn-floating.waves-effect.waves-light.tooltipped(type='button', data-delay='50', data-position='bottom', data-tooltip='Create Equipment')
                i.fa.fa-plus     
        .row
          if Template.subscriptionsReady            
            +reactiveTable collection=rtCollection settings=settings class='table striped'
          else
            +spinner
        +fabBack  
        
template(name='viewEquipmentsDelete')
  h5.red-text Warning this will permanently delete the equipment!
  | This process cannot be undone.
