template(name='procurementPage')
  if customTemplate
    +procurementPageCustom  
  else 
    .container
      h1.icon-page Procurement
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Purchase Requisitions
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-file-text-o
            br
            br
            |  Purchase Orders
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-money
            br
            br
            |  Invoices
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-cube
            br
            br
            |  Goods Received
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.f.fa-building-o
            br
            br
            |  Companies
            br
            br
