<template name = 'procurementPage'>
  <div class='container'>
    <h1 class='icon-page'>Procurement</h1>
    <div class='row flow-text center-align'>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-file-o'></i><br><br> Purchase Requisitions<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-file-text-o'></i><br><br> Purchase Orders<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-money'></i><br><br> Invoices<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa fa-cube'></i><br><br> Goods Received<br><br></a>
      </div>
      <div class='col s12 m6 l3'>
        <a href='#' class='waves-effect waves-dark icon-page'><i class='fa-5x fa f fa-building-o'></i><br><br> Companies<br><br></a>
      </div>
    </div>
  </div>
</template>
