template(name='procurementPage')
  if customTemplate
    +procurementPageCustom  
  else 
    .container
      h1.icon-page Procurement
      .row.flow-text.center-align
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "procurement/purchase/view-purchases"}}')
            i.fa-5x.fa.fa-shopping-cart
            br
            br
            |  Purchases
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "procurement/company/view-companies"}}')
            i.fa-5x.fa.fa-building-o
            br
            br
            |  Companies
            br
            br
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='{{pathFor "procurement/company/view-classifications"}}')
            i.fa-5x.fa.fa-file-o
            br
            br
            |  Company Classification
            br
            br              
        .col.s12.m6.l3
          a.waves-effect.waves-dark.icon-page(href='#')
            i.fa-5x.fa.fa-money
            br
            br
            |  Schedule of Rates
            br
            br
