template(name='deleteInvLocPage')
  if customTemplate
    +deleteInvLocPageCustom  
  else      
    .flow-text.deleteInvLoc
      if Template.subscriptionsReady
        .row
          br
          h1.red-text 
            |Delete 
            = textDoc
            |?
          h2
            | Warning this will permanently delete 
            = textDoc 
            |!
            | This will also affect any other documents that refer to 
            = textDoc
            |.
          br
          div
            button.btn.waves-effect.waves-light.red.btnDelete Delete permanently
            a(href="{{pathFor '../inventory/items/view-items'}}")
              button.btn.waves-effect.waves-light(type='button')
                i.material-icons skip_previous
                |  Back to safety
