template(name='viewInvLocClassificationPage')
  if customTemplate
    +viewInvLocClassificationCustom  
  else  
    // template located in layouts folder
    +viewClassificationPage classDoc=viewDoc    
